
AI_THI50_Onthi_Tailieu/ND4_Hoiquytuyentinh/SimpleHTR/
AI_THI50_Onthi_Tailieu/ND6_Yolo_Phathienvatthe/object-detection-opencv/
AI_THI50_Onthi_Thuchanh/AI_Tuan4/PhatHienDoiTuongYolov8/yolov8_tracking/
AI_THI50_Onthi_Thuchanh/AI_Tuan5/ultralytics/
AI_THI50_Onthi_Thuchanh/AI_Tuan5/yolov5/
AI_THI50_Onthi_Thuchanh/AI_Tuan5_2/Cayquyetdinh/Handwritten-Multiple-Digits-Recognizer/
AI_THI50_Onthi_Thuchanh/AI_Tuan5_2/object-detection-opencv/
AI_THI50_Onthi_Thuchanh/AI_Tuan6_2/yolov3/
